<ion-header>
  <ion-navbar color="primary">
    <ion-title>Inicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div align="center">
  <img src="assets/img/logo.png" title="Collaboration" width="150" height="150">
  </div>
  <h3 align="center">Papu.com</h3>
   <p align="center">
Servicios de cuidado a domicilio
  </p>
 <ion-card>
  <ion-item>
  <ion-label color="primary" floating>Selecciona el Servicio</ion-label>
  <ion-select [(ngModel)]="servicio" >
    <ion-option *ngFor="let servicio of servicios">{{servicio.nombre}}</ion-option>
  </ion-select>
</ion-item>
</ion-card>

<ion-card>
<ion-card-content>
<ion-list>
<ion-item>
<ion-label color="primary" floating>
Eligue el día
</ion-label>
<ion-datetime
displayFormat="DD/MM/YYYY" pikerFormat="YYYY MM DD" [(ngModel)]="fechaCorta" cancelText ="Cancelar" doneText="OK" min = {{minFecha}} max = {{maxFecha}}
>
</ion-datetime>
</ion-item>
<!-- <ion-item>
<p text-center> Valor de fecha: {{fechaCorta.substr(0,10)}}</p>
</ion-item> -->
</ion-list>
</ion-card-content>
</ion-card>


<ion-card>
<ion-card-content>
<ion-list>
<ion-item>
<ion-label color="primary" floating>
Eligue la hora
</ion-label>
<ion-datetime
displayFormat="HH:mm" pikerFormat="HH:mm" [(ngModel)]="fecha" cancelText ="Cancelar" doneText="OK"
>
</ion-datetime>
</ion-item>
<!-- <ion-item>
<p text-center> Valor de fecha: {{fecha.substr(11,5)}}</p>
</ion-item> -->
</ion-list>
</ion-card-content>
</ion-card>

<ion-card>
<ion-item>
  <ion-label color="primary" floating>Seleccióna la Zona</ion-label>
  <ion-select>
    <ion-option *ngFor="let zona of zonas">{{zona.nombre}}</ion-option>
  </ion-select>
</ion-item>
</ion-card>

<button (click)="buscar(servicio)" ion-button block align="center">Buscar</button>

  </ion-content>
